.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    margin: auto;
    background: #dcdcd0;
    height: 210px;
    width: 210px;
    max-height: 100%;
    max-width: 100%;
    border: 2px solid #dcdcd0;
}

.board-active__false {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 10); /* MSIE */
    filter: grayscale(50%);
    
}

.board-active__false > .square {
    cursor:not-allowed;
}

.board-active__false > .square:hover {
    background: #EEEEE8;
}

.board-winner__○ {
    background: #fe5f55;
}

.board-winner__○ > .square, 
.board-winner__○ > .square:hover {
    background: #ffc3be;
}

.board-winner__× {
    background: #38369A
}

.board-winner__× > .square, 
.board-winner__× > .square:hover {
    background: #b4b3f7
}