.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2.5px;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    background: #dcdcd0;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 210px;
    width: 210px;
}