.square {
    height: 100%;
    width: 100%;
    font-size: 3rem;
    color: black;
    background-color:grey;
    text-align:center;
    line-height:normal;
    border-radius:2px;
    cursor:pointer;
    background-color: #EEEEE8;
    display: grid;
    place-items: center;
}

.square__symbol {
    background: none;
}

.square__symbol-○ {
    color: #fe5f55;
}

.square__symbol-× {
    color: #38369A;
}

